@media screen and (min-width: 768px) and (max-width: 1019px) {
  .section-container {
    width: 100%;
    margin: auto;
  }
  /*Slider*/
.slider {
  width: 100%;
  height: 447px;
}
.slider-container {
  padding-top: 40px;
  margin-left: 29px;
  margin-right: 29px;
}
.slider-picture {
  width: 599px;
  height: 364px;
}
.slider-button {
  top: 306px;
}
  /*Services*/
.services {
  width: 100%;
  height: 675px;
}
.section-header {
  padding: 39px 42px 0px;
}

.services-list {
  margin: 28px 42px 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 39px;
  grid-column-gap: 53px;
}

/*Portfolio*/
.portfolio {
  width: 100%;
  height: 1094px;
  border-bottom: 8px solid #323746;
}
.filter-items {
  margin: 12px 0px;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 290px;
  justify-content: space-between;
}
.portfolio-list {
  margin: auto;
  width: 689px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
}
.portfolio-image{
  width: 216px;
  height: 183px;
}
.portfolio-image:nth-child(1n + 13) {
  display: none;
}
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .section-container {
    width: 100%;
    margin: auto;
  }
/*Header*/
header {
  height: 71px;
}
.logo {
  margin-top: 23px;
  margin-left: auto;
  margin-right: auto;
}
.navigation {
  display: none;
}
.navigation-button {
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 27px;
}
.navigation-button:hover {
  color: #f06c64;
}
.navigation-item:not(:last-child):after  {
  content: "";
  padding-left: 15px;
  padding-right: 15px;
}

.burger-button {
  display: block;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 26px;
  left: 20px;
  outline: none;
}
.burger-button-active {
  transform: rotate(90deg);
  transition: transform 0.5s ease-in-out;
}
.header {
  margin: auto;
  background-color:  #2D303A;
  display: flex;
  justify-content: space-between;
}
  /*Slider*/
.slider {
  width: 100%;
  height: 218px;
}
.slider-container {
  padding-top: 21px;
  margin-left: 10px;
  margin-right: 10px;
}
.slider-picture {
  width: 293px;
  height: 178px;
}
.slider-button {
  top: 170px;
}
  /*Services*/
.services {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.section-header {
  padding: 42px 28px 0px;
}
.services-list {
  margin: 25px 31px 0px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-row-gap: 15px;
}
/*Portfolio*/
.portfolio {
  width: 100%;
  min-width: 320px;
  height: 844px;
  border-bottom: none;
}
.filter-items {
  margin: 12px 0px;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 290px;
  justify-content: space-between;
}
.portfolio-list {
  width: 315px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 13px;
}
.portfolio-image{
  width: 151px;
  height: 128px;
}
.portfolio-image:nth-child(1n + 9) {
  display: none;
}
/*Footer*/
.social-buttons {
  margin-right: auto;
  margin-left: auto;
}
footer span {
 display: none;
}
}
